venv/
.venv/
.idea/
.cursor/
weaviate_database/weaviate_data/
huggingface_models/
download.log
**/**.pyc
mongodb/mongodb_data
mongodb/mongodb_data_it
sample_docs/*
!sample_docs/.gitkeep
!sample_docs/
!sample_docs/sample_process/

**.log
mongodb/docker/mongodb_data.tar.gz
mongodb/mongodb_data_it.tar.gz
mongodb/mongodb_data.tar.gz
eval/log*
eval/question*

configs/agent_configs.yaml




configs/__pycache__/load.cpython-310.pyc
configs/__pycache__/load.cpython-310.pyc
routes/__pycache__/translation.cpython-310.pyc
